* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    color: black;
    position: relative;
}

.vertical-center {
    min-height: 100%;
    display: flex;
    align-items: center;
}

.text-center {
    text-align: center;
}

.container {
    padding: 2em;
}

.container-custom {
    padding: 2em;
}

p {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1.5px;
    line-height: 1.5em;
}


/*header*/

.navbar {
    background-color: #000000;
    height: 50px;
    border-bottom: 2px solid #0F8376;
    text-transform: uppercase;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}

.navbar .navbar-collapse {
    text-align: center;
}

.navbar-inverse .hamburger {
    border: 1px solid #0F8376;
}

.navbar-inverse .hamburger:hover {
    background-color: #0F8376;
}

.navbar-inverse .navbar-toggle:focus {
    background-color: #0f8376;
}

.category a {
    outline: none;
}


/*END*/


/*JUMBOTRON*/

.bg {
    background: url('img/bg3k.jpg') no-repeat center center;
    position: fixed;
    background-size: cover;
    width: 100%;
    height: 350px;
    top: 50px;
    left: 0;
    z-index: -1;
}

.jumbotron {
    height: 350px;
    color: white;
    text-shadow: #444 0 1px 1px;
    background: transparent;
    margin: 50px 0 0 0;
}

.jumbotron h1 {
    margin: 0
}

.name {
    margin: 0;
}

.btn {
    background: none;
    border: 1px solid white;
}

.btn:hover {
    background-color: #0F8376;
    border: 1px solid #0F8376;
}

.btn a {
    color: white;
    text-shadow: none;
}

.btn a:hover {
    text-decoration: none;
}

.btn a {
    outline: none;
}


/*end*/


/*CONTENT*/

.content {
    color: white;
}

.content h2 {
    margin-top: 0;
    margin-bottom: 2em;
    padding: 0 10px;
    border-left: 2px solid #0F8376;
}

.exp,
.work,
.skill {
    background-color: #171717;
    padding: 2.5em 0 2.5em;
}

.bg-transition {
    background: url('img/bg3k.jpg') no-repeat center center;
    background-size: cover;
    position: fixed;
    width: 100%;
    height: 450px;
    left: 0;
    bottom: 0;
    z-index: -2;
}


/*END*/


/*ABOUT*/

.about {
    background-color: black;
    padding: 2.5em 0 2.5em 0;
}


/*END*/


/*EXP*/

.marg {
    margin-bottom: 2em;
}

.border-bot {
    width: 50%;
    margin: auto auto 2em auto;
    border-bottom: 2px solid #0F8376;
}


/*END*/


/*DOC*/

.doc h3 {
    margin: 0 0 0.5em 0;
}


/*END*/


/*SKILL*/

.skill-marg {
    margin-bottom: 2em;
}

.skill i {
    font-size: 75px;
}


/*END*/


/*WORK*/

.work img {
    margin-bottom: 2em;
    border: 2px solid #0F8376;
}

.work img:hover {
    opacity: 1;
    -webkit-animation: flash 1.5s;
    animation: flash 1.5s;
}

@-webkit-keyframes flash {
    0% {
        opacity: .4;
    }
    100% {
        opacity: 1;
    }
}

@keyframes flash {
    0% {
        opacity: .4;
    }
    100% {
        opacity: 1;
    }
}


/*END*/


/*FOOTER*/

footer {
    background-color: #000000;
    width: 100%;
}

footer p {
    margin: 0;
}

footer ul {
    list-style: none;
    display: inline;
}

.contact {
    margin: 0.5em 0 0.5em 0;
    background-color: #0F8376;
    border-radius: 100%;
    border: 5px solid transparent;
    color: white;
}

.contact:hover {
    border: 7px solid transparent;
}

#min_height {
    min-height: 154px;
}

.icon-size {
    font-size: 20px;
}

#licence {
    padding-bottom: 0.5em;
}


/*END*/


/*MEDIA*/

@media screen and (max-width: 767px) {
    .navbar-collapse .bg-hamburger {
        width: 100%;
        margin: 0;
        background-color: #515151;
        text-align: center;
        border-bottom: 1px solid #0F8376;
    }
    .marge-col {
        margin-bottom: 2em;
    }
}
